[Unit]
Description=Shotgun Events

[Service]
ExecStart=/var/lib/sgevents/sgevents.sh
User=sgevents
Restart=on-failure

[Install]
WantedBy=multi-user.target

